@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap") layer(CDNFont);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@layer Reset, CDNFont, Pages, Typography, Components, Rounded, Layout, Popup;
@layer Reset { /* Reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p,
  blockquote,
  pre,
  code,
  address,
  ul,
  ol,
  li,
  nav,
  section,
  article,
  header,
  footer,
  main,
  aside,
  dl,
  dt,
  dd,
  table,
  thead,
  tbody,
  tfoot,
  label,
  caption,
  th,
  td,
  form,
  fieldset,
  legend,
  hr,
  input,
  button,
  textarea,
  object,
  figure,
  figcaption,
  dialog {
    margin: 0;
    padding: 0;
  }
  body,
  textarea,
  button,
  img,
  fieldset,
  dialog {
    border: none;
  }
  textarea {
    resize: none;
  }
  ul,
  ol,
  li {
    list-style: none;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
  }
  address,
  cite,
  code,
  em,
  i {
    font-style: normal;
    font-weight: normal;
  }
  u,
  ins,
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    cursor: pointer;
    background-color: transparent;
  }
  /* Normalize */
  input[type=number],
  input[type=text],
  input[type=password],
  input[type=url],
  input[type=email],
  input[type=tel],
  input[type=date],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-clear-button,
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  input[type=date]::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  input[type=date]:valid::before {
    display: none;
  }
}
@layer Typography {
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1rem;
    font-family: "Noto Sans KR", sans-serif;
  }
  .heading + .subtitle {
    margin-top: 0.8rem;
  }
  .heading.base {
    color: #333333;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 52.13px;
    letter-spacing: -0.18rem;
    text-align: center;
  }
  .heading.xs {
    color: #333333;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    text-align: left;
    line-height: 100%;
    margin-block: 6rem 3rem;
  }
  @media (1000px > width) {
    .heading.xs {
      font-size: 2.8rem;
      line-height: 150%;
      letter-spacing: -0.14rem;
    }
  }
  .heading.xxs {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.08rem;
    text-align: left;
    line-height: 100%;
  }
  @media (1000px > width) {
    .heading.xxs {
      font-size: 2.6rem;
      line-height: 180%;
      letter-spacing: -0.13rem;
    }
  }
  .subtitle {
    color: #5c5c5c;
    font-size: 3.6rem;
    letter-spacing: -0.18rem;
    text-align: center;
  }
  .subtitle::after {
    content: "";
    display: block;
    margin: 3.4rem auto 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 10rem;
    background-color: #fac300;
  }
  @media (1000px > width) {
    .subtitle::after {
      margin-top: 2rem;
    }
  }
  .text-type1 {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 180%;
    letter-spacing: -0.08rem;
  }
  @media (1000px > width) {
    .text-type1 {
      font-size: 2.6rem;
      letter-spacing: -0.13rem;
    }
  }
  .login .text-type1 {
    margin-block: 0.6rem 2rem;
  }
  .text-type2 {
    color: #333333;
    font-size: 2rem;
    font-weight: 300;
    line-height: 180%;
    letter-spacing: -0.1rem;
  }
  @media (1000px > width) {
    .text-type2 {
      font-weight: 400;
      font-size: 3rem;
      letter-spacing: -0.13rem;
      line-height: 150%;
    }
  }
  .text-primary {
    color: #fac300;
  }
}
@layer Components.Button {
  .btn {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    box-sizing: border-box;
    justify-content: center;
  }
  .btn.fullsize {
    width: 100%;
  }
  .btn.base {
    height: 4.4rem;
    font-size: 1.6rem;
    padding-inline: 3.3rem;
    border: 0.1rem solid;
    font-weight: 700;
  }
  .btn.lg {
    height: 6rem;
    font-size: 1.6rem;
    padding-inline: 3.3rem;
    border: 0.1rem solid;
    font-weight: 700;
  }
  .btn.primary {
    background-color: #fac300;
    color: #ffffff;
    border-color: #fac300;
  }
  .btn.secondary {
    background-color: #ffffff;
    color: #fac300;
    border-color: #fac300;
  }
  .btn.grey {
    background-color: #ffffff;
    color: #999999;
    border-color: #999999;
  }
  .btn.black {
    background-color: #333333;
    color: #ffffff;
    border-color: #333333;
  }
  .btn.ico1::after {
    background: url(../images/ico_more.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 1.3rem;
    height: 1.4rem;
  }
  .btn-login {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: #999999;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    white-space: nowrap;
  }
  @media (1000px > width) {
    .btn-login {
      display: none;
    }
  }
  .btn-login::before {
    content: "";
    background: url(../images/ico_login.svg) no-repeat;
    background-size: contain;
    width: 1.6rem;
    height: 1.9rem;
  }
  .btn-sitemap {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: #999999;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    white-space: nowrap;
  }
  @media (1000px > width) {
    .btn-sitemap span {
      overflow: hidden;
      position: absolute;
      border: 0;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
  .btn-sitemap::before {
    content: "";
    background: url(../images/ico_sitemap.svg) no-repeat;
    background-size: contain;
    width: 1.4rem;
    height: 1.4rem;
  }
  @media (1000px > width) {
    .btn-sitemap::before {
      background: url(../images/ico_sitemap_mobile.svg) no-repeat;
      background-size: contain;
      width: 2.8rem;
      height: 2.8rem;
    }
    body:has(#sitemap:popover-open) .btn-sitemap::before {
      background: url(../images/ico_close.svg) no-repeat;
      background-size: contain;
    }
  }
  .btn-search {
    background: url(../images/ico_search.svg) no-repeat;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    order: 1;
  }
  :is(.btn-prev, .btn-next) {
    width: 3.6rem;
    height: 3.6rem;
  }
  :is(.btn-prev, .btn-next):disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  .btn-prev {
    background: url(../images/ico_prev.svg) no-repeat;
    background-size: contain;
  }
  .btn-next {
    background: url(../images/ico_next.svg) no-repeat;
    background-size: contain;
  }
  .dialog-type1 .btn-group {
    margin-top: 3rem;
  }
}
@layer Components.Bar {}
@layer Components.Text {}
@layer Components.Tab {
  .tabs [data-tab] + label {
    cursor: pointer;
  }
  .tabs .tab-content {
    display: none;
  }
  .tabs:has(:not([aria-hidden])[data-tab="1"]:checked) [data-tab-content="1"] {
    display: block;
  }
  .tabs:has(:not([aria-hidden])[data-tab="2"]:checked) [data-tab-content="2"] {
    display: block;
  }
  .tabs:has(:not([aria-hidden])[data-tab="3"]:checked) [data-tab-content="3"] {
    display: block;
  }
  .tabs:has(:not([aria-hidden])[data-tab="4"]:checked) [data-tab-content="4"] {
    display: block;
  }
  .tabs:has(:not([aria-hidden])[data-tab="5"]:checked) [data-tab-content="5"] {
    display: block;
  }
  .tab-type1 {
    display: flex;
    gap: 0.6rem;
  }
  .tab-type1 li {
    flex: 1;
  }
  .tab-type1 input {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .tab-type1 input:focus-visible + label {
    color: #333333;
    border-color: #fac300;
    outline-offset: 0.3rem;
    outline: 0.1rem solid rgba(51, 51, 51, 0.5);
  }
  .tab-type1 input:checked + label {
    color: #333333;
    border-color: #fac300;
  }
  .tab-type1 label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.4rem;
    color: #cccccc;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 1rem solid #f3f3f3;
  }
  .tab-content {
    padding-top: 8rem;
  }
}
@layer Components.List {
  .list-type4 li {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
  }
  .list-type4 li::before {
    display: inline-block;
    margin: 1rem 0.4rem 0;
    align-self: start;
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background-color: #ddd;
    border-radius: 10rem;
  }
}
@layer Components.Table {
  caption {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  @media (1000px > width) {
    .table-type1 {
      margin-inline: 3rem;
      width: calc(100% - 6rem);
    }
  }
  .table-type1 thead th {
    padding-block: 2rem;
    color: #333333;
    font-size: 1.4rem;
    letter-spacing: -0.028rem;
  }
  .table-type1 thead th + th {
    background: linear-gradient(to right, #e1e1e1, #e1e1e1) no-repeat left/0.1rem 1.6rem;
  }
  .table-type1 thead tr {
    border: 0.1rem solid #e1e1e1;
    border-bottom-color: #333333;
  }
  .table-type1 tbody td {
    padding: 2.6rem;
    color: #666666;
    font-size: 1.6rem;
    letter-spacing: -0.032rem;
    text-align: center;
    border-bottom: 0.1rem solid #f3f3f3;
  }
  .table-type1 tbody td:has(a) {
    text-align: left;
  }
  @media (1000px > width) {
    .table-type1 tbody td a {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }
  @media (1000px > width) {
    .table-type2 colgroup {
      display: none;
    }
    .table-type2.mxmobile {
      width: calc(100% - 6rem);
    }
  }
  .table-type2 thead {
    background-color: #666666;
  }
  @media (1000px > width) {
    .table-type2 thead {
      display: none;
    }
  }
  .table-type2 thead th {
    padding-block: 2rem;
    color: #ffffff;
    font-size: 1.4rem;
  }
  .table-type2 thead + th {
    border-left: 0.1rem solid #e1e1e1;
  }
  .table-type2 tbody td {
    padding-block: 2rem;
    border-bottom: 0.1rem solid #e1e1e1;
    color: #666666;
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
    text-align: center;
  }
  @media (1000px > width) {
    .table-type2 tbody td {
      display: grid;
      grid-template-columns: 12rem 1fr;
      text-align: left;
      padding: 0;
      gap: 2rem;
      font-size: 2.4rem;
      align-items: center;
      border: 0.1rem solid #e1e1e1;
    }
    .table-type2 tbody td + td {
      margin-top: -0.1rem;
    }
    .table-type2 tbody td::before {
      content: attr(data-text);
      text-align: center;
      background-color: #666666;
      color: #ffffff;
      font-size: 2.2rem;
      padding-block: 2.3rem;
      align-self: stretch;
      align-content: center;
    }
  }
  .table-type2 tbody td + td {
    border-left: 0.1rem solid #e1e1e1;
  }
  @media (1000px > width) {
    .table-type2 tbody tr {
      display: block;
    }
    .table-type2 tbody tr + tr {
      margin-top: 2rem;
    }
  }
  .table-type3 {
    border-top: 0.1rem solid #333333;
  }
  @media (1000px > width) {
    .table-type3 {
      margin-inline: 3rem;
      width: calc(100% - 6rem);
      border: none;
    }
    .table-type3 colgroup {
      display: none;
    }
  }
  .table-type3 tr {
    border-bottom: 0.1rem solid #e1e1e1;
  }
  @media (1000px > width) {
    .table-type3 tr {
      border: none;
    }
  }
  .table-type3 :is(th, td) {
    padding: 1.8rem 2rem;
    line-height: 1.4rem;
    font-size: 1.6rem;
  }
  @media (1000px > width) {
    .table-type3 :is(th, td) {
      display: block;
      padding: 0;
      font-size: 2.6rem;
      line-height: 1.8;
    }
  }
  .table-type3 th {
    color: #333333;
    text-align: left;
    font-weight: 500;
  }
  @media (1000px > width) {
    .table-type3 th {
      color: #666666;
    }
  }
  .table-type3 td {
    color: #999999;
  }
  @media (1000px > width) {
    .table-type3 td {
      padding-top: 1rem;
    }
  }
  @media (1000px > width) {
    .table-type4 {
      margin-inline: 3rem;
      width: calc(100% - 6rem);
      border: none;
    }
    .table-type4 colgroup {
      display: none;
    }
  }
  .table-type4 tr {
    border-bottom: 0.1rem solid #e1e1e1;
  }
  @media (1000px > width) {
    .table-type4 tr {
      display: block;
      padding-block: 3rem;
    }
  }
  .table-type4 :is(th, td) {
    padding: 3rem;
    line-height: 1.4rem;
    font-size: 1.6rem;
  }
  @media (1000px > width) {
    .table-type4 :is(th, td) {
      display: block;
      padding: 0;
      font-size: 2.6rem;
      line-height: 1.8;
    }
  }
  .table-type4 th {
    color: #333333;
    text-align: left;
    font-weight: 500;
  }
  .table-type4 td {
    color: #999999;
  }
  @media (1000px > width) {
    .table-type4 td {
      padding-top: 1rem;
    }
  }
  .scroll-table {
    container: scrollTable/inline-size;
  }
  @media (1000px > width) {
    .scroll-table {
      position: relative;
      overflow: hidden;
    }
    .scroll-table.active {
      overflow: auto;
    }
    .scroll-table.active::before, .scroll-table.active::after {
      display: none;
    }
    .scroll-table::before {
      position: absolute;
      left: 0;
      top: 0;
      z-index: var(--z, 1);
      content: "";
      background-color: rgba(51, 51, 51, 0.4);
      width: 100%;
      height: 100%;
    }
    .scroll-table::after {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: var(--z, 1);
      translate: -50% -50%;
      content: "클릭후 \a드래그하세요";
      white-space: pre;
      width: clamp(10rem, 30cqi, 15rem);
      aspect-ratio: 1;
      border-radius: 10rem;
      background-color: rgba(51, 51, 51, 0.6);
      text-align: center;
      align-content: center;
      color: #ffffff;
      font-size: clamp(1.5rem, 4cqi, 2rem);
    }
    .scroll-table > table {
      width: 100rem;
    }
  }
}
.textarea, .select, .input {
  height: var(--height, 4.4rem);
  border: 0.1rem solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 0rem;
  background-color: #fafafa;
  padding-inline: 2rem;
  color: #666666;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.05rem;
}
.textarea::placeholder, .select::placeholder, .input::placeholder {
  color: #cccccc;
}
.textarea:disabled, .select:disabled, .input:disabled {
  background-color: rgba(238, 238, 238, 0.9);
}
[readonly].textarea, [readonly].select, [readonly].input {
  background-color: rgba(238, 238, 238, 0.6);
}

@layer Components.Form {
  .check-type2 + label, .check-type1 + label {
    display: inline-flex;
    gap: 0.4rem;
    align-items: center;
    color: #666666;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -0.05rem;
  }
  .login .check-type2 + label, .login .check-type1 + label {
    color: #666666;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6rem;
    letter-spacing: -0.07rem;
  }
  .input {
    width: var(--w, 100%);
  }
  .select {
    background: url(../images/bg_select.svg) no-repeat right 2rem center;
    background-size: 1.2rem;
    padding-right: 5.2rem;
    appearance: none;
    width: var(--w, 100%);
  }
  .textarea {
    width: 100%;
    height: calc(var(--height, 10) / 10 * 1rem);
    padding-block: 1.5rem;
  }
  .textarea::placeholder {
    color: #ddd;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -0.05rem;
    font-family: "Noto Sans KR";
  }
  .check-type1 {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .check-type1 + label::before {
    background: url(../images/bg_check_off.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 2.6rem;
    height: 2.6rem;
  }
  .check-type1:checked + label::before {
    background: url(../images/bg_check_on.svg) no-repeat;
    background-size: contain;
  }
  .check-type2 {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .check-type2 + label::before {
    background: url(../images/bg_check_off2.svg) no-repeat;
    background-size: contain;
    content: "";
    width: 1.8rem;
    height: 1.8rem;
  }
  .check-type2:checked + label::before {
    background: url(../images/bg_chk_on2.svg) no-repeat;
    background-size: contain;
  }
}
@layer Components.Rounded {
  .rounded8 {
    border-radius: 0.8rem;
  }
  .rounded10 {
    border-radius: 1rem;
  }
  .rounded20 {
    border-radius: 2rem;
  }
  .rounded30 {
    border-radius: 3rem;
  }
  .rounded-full {
    border-radius: 1000rem;
  }
}
@layer Components.Board {
  .board-info {
    color: #666666;
    font-size: 2.4rem;
    line-height: 100%;
    letter-spacing: -0.032rem;
    margin-top: 10rem;
  }
  .board-info + table {
    margin-top: 2rem;
  }
  @media (1000px > width) {
    .board-info + table {
      margin-top: 1rem;
    }
  }
  @media (1000px > width) {
    .board-info {
      margin-inline: 3rem;
      font-size: 2.6rem;
      margin-top: 4.8rem;
      line-height: 180%;
      letter-spacing: -0.13rem;
    }
  }
  .paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1.1rem;
  }
  @media (1000px > width) {
    .paging {
      margin: 0;
    }
    .paging :not(.btn) {
      display: none;
    }
  }
  .paging .btn {
    display: none;
    line-height: 1;
  }
  @media (1000px > width) {
    .paging .btn {
      display: flex;
      width: calc(100% - 6rem);
    }
  }
  .paging ol {
    display: flex;
    gap: 0.6rem;
  }
  .paging ol a {
    display: block;
    width: 3.6rem;
    aspect-ratio: 1;
    border-radius: 10rem;
    text-align: center;
    align-content: center;
    font-size: 1.4rem;
  }
  .paging ol a:hover {
    font-weight: 700;
    color: #666666;
  }
  .paging ol a.--active {
    font-weight: 700;
    color: #333333;
    background-color: #f3f3f3;
  }
  @supports not (not (align-content: center)) {
    .paging ol a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@layer Layout.Align {
  .align {
    display: flex;
  }
  .align.right {
    justify-content: flex-end;
  }
  .align.center {
    justify-content: center;
  }
  .align.both {
    justify-content: space-between;
  }
  .align.triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .align.triple > :nth-child(1) {
    justify-self: start;
  }
  .align.triple > :nth-child(2) {
    justify-self: center;
  }
  .align.triple > :nth-child(3) {
    justify-self: end;
  }
  .align.vt {
    align-items: flex-start;
  }
  .align.vm {
    align-items: center;
  }
  .align.vb {
    align-items: flex-end;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .mxauto, .footer__advertisement, .footer__bottom > div, .header__inner, .breadcrums > div, .visual > div, .gnb .depth2 > ul {
    width: 122.4rem;
    margin-inline: auto;
  }
  @media (1000px > width) {
    .mxauto, .footer__advertisement, .footer__bottom > div, .header__inner, .breadcrums > div, .visual > div, .gnb .depth2 > ul {
      width: 100%;
    }
  }
  @container body (width < 1224px) {
    .mxauto, .footer__advertisement, .footer__bottom > div, .header__inner, .breadcrums > div, .visual > div, .gnb .depth2 > ul {
      width: 100%;
    }
  }
}
@layer components.Gnb {
  @media (1000px > width) {
    .gnb {
      display: none;
    }
  }
  @container body (width < 1135px) {
    .gnb {
      justify-self: center;
    }
  }
  .gnb > ul {
    display: flex;
    gap: 4rem;
  }
  .gnb > ul > li {
    padding-block: 2.4rem;
  }
  .gnb > ul > li > a {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 700;
    background: linear-gradient(to bottom, #fac300, #fac300) no-repeat bottom/0% 1rem;
    transition: 0.5s;
  }
  .gnb > ul > li:is(:has(:focus), :hover) a {
    background-size: 100% 1rem;
  }
  .gnb > ul > li:is(:has(:focus), :hover) .depth2 {
    display: block;
    border-top: 0.1rem solid #fac300;
    grid-template-rows: 1fr;
    translate: 0 -0.1rem;
  }
  .gnb > ul > li:is(:has(:focus), :hover) .depth2 > ul {
    padding-block: 3rem;
  }
  .gnb .depth2 {
    position: fixed;
    left: 0;
    top: anchor(--header bottom);
    z-index: var(--z, 500);
    width: 100%;
    background-color: #ffffff;
    translate: 0;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s;
  }
  .gnb .depth2 > ul {
    display: flex;
    gap: 6rem;
    translate: 20.8rem;
    padding-block: 0rem;
    overflow: hidden;
    transition: padding-block 0.5s;
  }
  .gnb .depth2 > ul > li > a {
    color: #666666;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
    font-weight: 700;
    background: linear-gradient(to bottom, #fac300, #fac300) no-repeat bottom/0% 0.3rem;
    transition: 0.5s;
  }
  .gnb .depth2 > ul > li:hover a {
    background-size: 100% 0.3rem;
  }
  .gnb .depth2 > ul > li > ul {
    padding-top: 1.6rem;
  }
  .gnb .depth2 > ul > li > ul > li > a {
    color: #666666;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: -0.07rem;
  }
}
@media (1000px > width) {
  .logo {
    order: 2;
    justify-self: center;
  }
}

@layer Components.Sitemap {
  .sitemap {
    display: none;
  }
  @media (1000px > width) {
    .sitemap {
      display: grid;
      width: auto;
      height: auto;
      padding: 9rem 3rem;
      background-color: #fac300;
      inset: 9.4rem 0 0 100%;
      opacity: 0;
      transition: 0.5s allow-discrete;
      border: none;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .sitemap summary {
      list-style: none;
      white-space: nowrap;
    }
    .sitemap:popover-open {
      inset: 9.4rem 0 0 0;
      opacity: 1;
    }
    @starting-style {
      .sitemap:popover-open {
        inset: 9.4rem 0 0 100%;
      }
    }
  }
  .sitemap__nav {
    padding-inline: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .sitemap__nav::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }
  .sitemap__nav::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
  }
  .sitemap__nav > ul > li {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  }
  .sitemap__nav > ul > li summary {
    color: #ffffff;
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 100%;
    padding-block: 3.4rem;
  }
  .sitemap__nav .depth2 ul {
    display: grid;
    gap: 3.4rem;
    margin-block: 3.4rem;
  }
  .sitemap__nav .depth2 > ul > li > a {
    color: #ffffff;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1;
  }
  .sitemap__nav .depth2 > ul ul a {
    display: grid;
    grid-template-columns: 1rem 1fr;
    color: #fff387;
    font-size: 3rem;
  }
  .sitemap__nav .depth2 > ul ul a::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 1rem;
    background-color: #fff387;
    align-self: start;
    justify-self: center;
    margin-top: 1.9rem;
  }
}
@layer Components.Visual {
  .visual {
    background-color: #fac300;
  }
  .visual > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 32rem;
    position: relative;
  }
  @media (1000px > width) {
    .visual > div {
      height: 25.5rem;
      text-align: center;
      border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
    }
  }
  .visual > div::after {
    position: absolute;
    right: 0;
    top: 1.2rem;
    z-index: var(--z, 1);
    content: "";
    width: 50%;
    height: calc(100% + 5rem);
  }
  @media (1000px > width) {
    .visual > div::after {
      display: none;
    }
  }
  .visual__title {
    color: #ffffff;
    font-size: 7.2rem;
    letter-spacing: -0.36rem;
    font-weight: 400;
  }
  @media (1000px > width) {
    .visual__title {
      font-size: 5rem;
      letter-spacing: -0.25rem;
    }
  }
  .visual__copy {
    display: none;
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.12rem;
  }
  @media (1000px > width) {
    .visual__copy {
      display: block;
    }
  }
  .visual.sub0 > div::after {
    background: url(../images/img_visual0.png) no-repeat right 0 bottom 0;
    background-size: auto;
  }
  .visual.sub1 > div::after {
    background: url(../images/img_visual1.png) no-repeat right 0 bottom 0;
    background-size: auto;
  }
  .visual.sub2 > div::after {
    background: url(../images/img_visual2.png) no-repeat right 0 bottom 0;
    background-size: auto;
  }
  .visual.sub3 > div::after {
    background: url(../images/img_visual3.png) no-repeat right 0 bottom 0;
    background-size: auto;
  }
  .visual.sub4 > div::after {
    background: url(../images/img_visual4.png) no-repeat right 0 bottom 0;
    background-size: auto;
  }
  .visual.sub5 > div::after {
    background: url(../images/img_visual5.png) no-repeat right 0 bottom 0;
    background-size: auto;
  }
  .visual.sub6 > div::after {
    background: url(../images/img_visual6.png) no-repeat right 0 bottom 0;
    background-size: auto;
  }
  body:has(.login) .visual {
    text-align: center;
  }
  body:has(.login) .visual__title {
    position: relative;
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    font-size: 7rem;
    font-weight: 700;
    line-height: normal;
  }
  body:has(.login) .visual__copy {
    position: relative;
    z-index: 10;
    display: block;
  }
  body:has(.login) .visual > div {
    height: 50rem;
    justify-content: start;
    padding-top: 6rem;
    box-sizing: border-box;
  }
  @media (1000px > width) {
    body:has(.login) .visual > div {
      height: 44.5rem;
    }
  }
  body:has(.login) .visual > div::after {
    width: 100%;
    height: 36.2rem;
    background-position: Center;
    top: inherit;
    bottom: 0;
  }
  @media (1000px > width) {
    body:has(.login) .visual > div::after {
      display: block;
      height: 100%;
      padding-inline: 7rem;
      box-sizing: border-box;
      background-size: calc(100% - 14rem) auto;
      background-clip: content-box;
      background-position: center bottom;
    }
  }
}
@layer Components.BreadCrums {
  .breadcrums {
    padding-block: 2.8rem;
    border-bottom: 0.1rem solid #fac300;
  }
  @media (1000px > width) {
    .breadcrums {
      padding: 0;
    }
  }
  .breadcrums__web {
    display: flex;
    align-items: center;
  }
  .breadcrums__web > * + * {
    display: flex;
    align-items: center;
  }
  .breadcrums__web > * + *::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    margin-inline: 2rem;
    background: url(../images/ico_bread.svg) no-repeat;
    background-size: contain;
  }
  .breadcrums__web a {
    color: #666666;
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
  }
  .breadcrums__web li:first-child a {
    font-weight: 700;
  }
  .breadcrums__web li:last-child a {
    color: #333333;
    text-decoration-line: underline;
    font-weight: 700;
  }
  @media (1000px > width) {
    .breadcrums__web {
      display: none;
    }
  }
  .breadcrums__mobile {
    display: none;
  }
  @media (1000px > width) {
    .breadcrums__mobile {
      display: flex;
    }
    .breadcrums__mobile > li {
      flex: 1;
    }
    .breadcrums__mobile > li > button {
      background: url(../images/ico_bread_mobile.svg) no-repeat right 3rem center;
      background-size: 2rem;
      width: 100%;
      height: 10rem;
      padding-inline: 3rem;
      text-align: left;
      color: #333333;
      font-size: 2.4rem;
      letter-spacing: -0.12rem;
    }
    .breadcrums__mobile > li > button[popovertarget=breadcrums1] {
      anchor-name: --bread1;
    }
    .breadcrums__mobile > li > button[popovertarget=breadcrums2] {
      anchor-name: --bread2;
    }
    .breadcrums__mobile > li:last-child > button {
      color: #333333;
      font-size: 2.6rem;
      letter-spacing: -0.13rem;
      text-decoration: underline;
      font-weight: 700;
    }
  }
  .breadcrums #breadcrums1 {
    inset: anchor(--bread1 bottom) anchor(--bread1 right) auto anchor(--bread1 left);
    width: auto;
  }
  .breadcrums #breadcrums2 {
    inset: anchor(--bread2 bottom) anchor(--bread2 right) auto anchor(--bread2 left);
    width: auto;
  }
  .breadcrums .depth2 {
    position: absolute;
    padding: 3rem 3rem 5rem;
    border: none;
    box-shadow: 0 0.6rem 2rem 0 rgba(51, 51, 51, 0.1);
    background: #ffffff;
    transition: 0.5s allow-discrete;
    opacity: 0;
  }
  .breadcrums .depth2:popover-open {
    opacity: 1;
  }
  @starting-style {
    .breadcrums .depth2:popover-open {
      opacity: 0;
    }
  }
  .breadcrums .depth2 li > a {
    color: #333333;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 100%;
  }
  .breadcrums .depth2 li > ul {
    display: grid;
    gap: 3.4rem;
    margin-top: 3.4rem;
  }
  .breadcrums .depth2 li > ul a {
    color: #666666;
    font-size: 2.6rem;
    line-height: 100%;
  }
}
@layer Components.Badge {
  .badge {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 10rem;
  }
  .badge.fullsize {
    width: 100%;
  }
  .badge.base {
    height: 3.4rem;
    font-size: 1.4rem;
    padding-inline: 1.6rem;
    border: 0.1rem solid;
    font-weight: 700;
  }
  .badge.orange {
    background-color: #f69740;
    color: #ffffff;
    border-color: #f69740;
  }
  .badge.skyblue {
    background-color: #38c3ef;
    color: #ffffff;
    border-color: #38c3ef;
  }
  .badge.green {
    background-color: #88d948;
    color: #ffffff;
    border-color: #88d948;
  }
  .badge.blue {
    background-color: #6892d0;
    color: #ffffff;
    border-color: #6892d0;
  }
  .badge.grayb4 {
    background-color: #b4b4b4;
    color: #ffffff;
    border-color: #b4b4b4;
  }
  .badge.darkgray {
    background-color: #666666;
    color: #ffffff;
    border-color: #666666;
  }
}
@layer Components.Dialog {
  body:has(.dialog-type1:popover-open) {
    overflow: hidden;
  }
  .dialog-type1 {
    inset: 50% auto auto 50%;
    translate: -50% -50%;
    border: none;
    padding: 4rem;
    min-width: 38rem;
    transition: 0.5s allow-discrete;
    translate: -50% -40%;
    opacity: 0;
  }
  .dialog-type1__title {
    color: #333333;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
  }
  .dialog-type1__text {
    color: #333333;
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: -0.028rem;
    margin-top: 1rem;
  }
  .dialog-type1::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s allow-discrete;
  }
  .dialog-type1:popover-open {
    translate: -50% -50%;
    opacity: 1;
  }
  @starting-style {
    .dialog-type1:popover-open {
      translate: -50% -60%;
      opacity: 0;
    }
  }
  .dialog-type1:popover-open::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
  @starting-style {
    .dialog-type1:popover-open::backdrop {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
@layer Layout.Header {
  .header {
    anchor-name: --header;
    border-bottom: 0.1rem solid #fac300;
  }
  @media (1000px > width) {
    .header {
      background-color: #fac300;
      padding: 2.2rem 3.2rem;
    }
  }
  .header__inner {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 11.4rem;
  }
  @container body (width < 1135) {
    .header__inner {
      gap: 0;
    }
  }
  .header .utiliity {
    display: flex;
    align-items: center;
    gap: 2.6rem;
  }
  @media (1000px > width) {
    .header .utiliity {
      order: 3;
    }
  }
}
@layer Popup.Header {
  @media (1000px > width) {
    body:has(#sitemap:popover-open) .header .btn-search {
      display: none;
    }
    body:has(#sitemap:popover-open) .header__inner::before {
      content: "";
      width: 3rem;
    }
  }
}
@layer Layout.Footer {
  .footer {
    color: #666666;
    font-size: 1.4rem;
  }
  @media (1000px > width) {
    .footer {
      color: #cccccc;
      font-size: 2rem;
    }
  }
  .footer__advertisement {
    font-size: 0;
  }
  .footer__advertisement img {
    aspect-ratio: 8.742;
    object-fit: cover;
    width: 100%;
  }
  @media (1000px > width) {
    .footer__advertisement img {
      aspect-ratio: 7.05;
    }
  }
  .footer__bottom {
    border-top: 0.1rem solid #666666;
    background-color: #ffffff;
  }
  @media (1000px > width) {
    .footer__bottom {
      padding: 3.8rem 3rem;
      background-color: #3f3f3f;
    }
  }
  .footer__bottom .logo {
    color: #fac300;
    font-size: 2.6rem;
    font-weight: 700;
  }
  .footer__address {
    margin-top: 4.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .footer__address > * + * {
    display: flex;
    align-items: center;
  }
  .footer__address > * + *::before {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    margin-inline: 1rem;
    background-color: #666666;
  }
  @media (1000px > width) {
    .footer__address {
      margin-top: 0;
      display: block;
    }
    .footer__address address {
      margin-top: 2rem;
    }
  }
  .footer__address address::before {
    border-radius: 10rem;
  }
  @media (1000px > width) {
    .footer__address address::before {
      display: none;
    }
  }
  .footer__contact {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
  }
  @media (1000px > width) {
    .footer__contact {
      gap: 0;
      margin-top: 2rem;
      display: flex;
      align-items: center;
    }
    .footer__contact > * + * {
      display: flex;
      align-items: center;
    }
    .footer__contact > * + *::before {
      content: "";
      width: 0.2rem;
      height: 0.2rem;
      margin-inline: 1rem;
      background-color: #333333;
    }
  }
  .footer__copy {
    margin-top: 3.5rem;
    font-weight: 500;
  }
  @media (1000px > width) {
    .footer__copy {
      margin-top: 5rem;
      font-weight: 400;
    }
  }
}
@layer Layout.IR {
  .ally-hidden {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@layer Layout.Space {
  .mt4 {
    margin-top: 0.4rem;
  }
  .mt8 {
    margin-top: 0.8rem;
  }
  .mt30 {
    margin-top: 3rem;
  }
  .mr4 {
    margin-right: 0.4rem;
  }
  .mr8 {
    margin-right: 0.8rem;
  }
  .mb4 {
    margin-bottom: 0.4rem;
  }
  .mb8 {
    margin-bottom: 0.8rem;
  }
  .ml4 {
    margin-left: 0.4rem;
  }
  .ml8 {
    margin-left: 0.8rem;
  }
}
@layer Layout.Responsive {
  .only-mobile {
    display: none;
  }
  @media (1000px > width) {
    .only-mobile {
      display: block;
    }
  }
}
@layer Layout.Base {
  .container {
    padding-block: 10rem 20.8rem;
  }
  @media (1000px > width) {
    .container {
      padding-block: 10rem 20rem;
    }
  }
  body {
    container: body/inline-size;
  }
  @media (1000px > width) {
    .mxmobile {
      margin-inline: 3rem;
    }
  }
}
@layer Pages.Login {
  .login {
    text-align: center;
  }
  .login__title {
    color: #fac300;
    font-size: 4rem;
    font-weight: 400;
  }
  .login__text {
    color: #333333;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 150%; /* 19.5px */
  }
  .login__form {
    width: 39rem;
    margin: 4rem auto 2rem;
  }
  .login__form legend {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .login__form fieldset {
    display: grid;
  }
  .login__form input {
    margin-bottom: 1rem;
  }
  .login__form label {
    margin-block: 1rem 4rem;
  }
  .login__list {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .login__list > * + * {
    display: flex;
    align-items: center;
  }
  .login__list > * + *::before {
    content: "";
    width: 0.1rem;
    height: 1.6rem;
    margin-inline: 2rem;
    background-color: #ccc;
  }
  .login__list a {
    color: #666666;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 180%; /* 25.2px */
    letter-spacing: -0.07rem;
  }
  body:has(.login) {
    background-color: #f4f4f4;
  }
  body:has(.login) .header {
    background-color: #ffffff;
  }
  body:has(.login) .container {
    padding-top: 6rem;
  }
}
@layer Pages.Kids {
  .kids__img {
    margin-block: 3rem 6rem;
    width: 100%;
  }
  @media (1000px > width) {
    .kids__img {
      margin-block: 4.8rem 6rem;
    }
  }
  .activity__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
    font-size: 0;
  }
  @media (1000px > width) {
    .activity__gallery {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  .activity__gallery img {
    width: 100%;
  }
  .activity__gallery figcaption {
    background: #666666;
    color: #ffffff;
    padding-block: 3rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 180%;
    letter-spacing: -0.08rem;
  }
  @media (1000px > width) {
    .activity__gallery figcaption {
      font-size: 2.4rem;
      letter-spacing: -0.12rem;
    }
  }
  .activity__list7 {
    display: flex;
  }
  @media (1000px > width) {
    .activity__list7 {
      flex-wrap: wrap;
      justify-content: center;
      gap: 5.3rem 2rem;
    }
  }
  .activity__list7 li {
    display: grid;
    gap: 1rem;
    flex: 1;
    text-align: center;
  }
  .activity__list7 li:nth-child(1) span {
    background-color: #FDB2B2;
  }
  .activity__list7 li:nth-child(2) span {
    background-color: #F6D199;
  }
  .activity__list7 li:nth-child(3) span {
    background-color: #E0E271;
  }
  .activity__list7 li:nth-child(4) span {
    background-color: #99D65D;
  }
  .activity__list7 li:nth-child(5) span {
    background-color: #A3DEEB;
  }
  .activity__list7 li:nth-child(6) span {
    background-color: #C1D3F9;
  }
  .activity__list7 li:nth-child(7) span {
    background-color: #DCC2F4;
  }
  @media (1000px > width) {
    .activity__list7 li {
      flex: none;
    }
  }
  .activity__list7 br {
    display: none;
  }
  @media (1000px > width) {
    .activity__list7 br {
      display: block;
    }
  }
  .activity__list7 span {
    justify-self: center;
    width: 15rem;
    height: 15rem;
    border-radius: 100rem;
    color: #ffffff;
    font-size: 3.6rem;
    line-height: 100%;
    letter-spacing: -0.18rem;
    align-content: center;
  }
  @container body (width < 1070px) {
    .activity__list7 span {
      width: clamp(12rem, 8cqw, 15rem);
      height: auto;
      aspect-ratio: 1;
    }
  }
  .activity__list7 div {
    color: #999999;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.11rem;
  }
  @media (1000px > width) {
    .activity__list7 div {
      font-size: 2.2rem;
    }
  }
  @container body (width < 1020px) {
    .activity__list7 div {
      font-size: clamp(1.4rem, 1cqw, 1.6rem);
    }
  }
  .activity__challenge-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
    margin-top: 4rem;
  }
  @media (1000px > width) {
    .activity__challenge-list {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  .activity__challenge-list li {
    border: 0.1rem solid #fac300;
    padding: 3rem;
  }
  @media (1000px > width) {
    .activity__challenge-list li {
      padding: 4rem;
    }
  }
  .activity__challenge-list strong {
    color: #fac300;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.08rem;
  }
  @media (1000px > width) {
    .activity__challenge-list strong {
      font-size: 2.6rem;
      letter-spacing: -0.13rem;
    }
  }
  .activity__challenge-list p {
    padding-top: 1rem;
    color: #666666;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 180%;
    letter-spacing: -0.08rem;
  }
  @media (1000px > width) {
    .activity__challenge-list p {
      font-size: 2.6rem;
      letter-spacing: -0.13rem;
    }
  }
}

/*# sourceMappingURL=style.css.map */
