@use '../abstracts/' as *;
@use './align' as *;

@layer Layout.Footer{
    .footer{
        color:$gray66;
        font-size:rem(14);
        @include mobile{
            color:$graycc;
            font-size:rem(20);
        }

        &__advertisement{
            @extend .mxauto;
            font-size:0;
            img{
                aspect-ratio: 8.742;
                object-fit: cover;
                width:100%;
            }
            @include mobile{
                img{
                    aspect-ratio: 7.05;
                }
            };
        }

        &__bottom{
            border-top:rem(1) solid $gray66;
            background-color:$white;
            @include mobile{
                padding:rem(38) rem(30);
                background-color:#3f3f3f; 
            }
            .logo{
                color: $yellow;
                font-size: rem(26);
                font-weight: 700;
            }
            > div{
                @extend .mxauto;

            }

        }
        &__address{
            margin-top:rem(46);
            font-weight:500;
            @include bar(l, 4, 4, $gray66, 10);

            @include mobile{
                margin-top:0;
                display:block;
                address{
                    margin-top:rem(20);
                }
            }
            address::before{
                border-radius:rem(100);
                @include mobile{
                    display:none;
                }
            }
        }
        &__contact{
            display:flex;
            gap:rem(20);
            margin-top:rem(10);
            @include mobile{
                gap:0;
                margin-top:rem(20);
                @include bar(l, 2, 2, $gray33, 10);
                
            }

        }
        &__copy{
            margin-top:rem(35);
            font-weight:500;
            @include mobile{
                margin-top:rem(50);
                font-weight:400;
            }
        }
    }

}