@use "../abstracts/" as *;

@layer Components.Board{
    
    .board-info{
        color: $gray66;
        font-size: rem(24);
        line-height:100%;
        letter-spacing: rem(-0.32);
        margin-top:rem(100);

        + table{
            margin-top:rem(20);
            @include mobile{
                margin-top:rem(10);
            }
        }
        @include mobile{
            margin-inline:rem($mobilePaddingX);
            font-size: rem(26);
            margin-top:rem(48);
            line-height:180%;
            letter-spacing:rem(-1.3);
        }
    }

    .paging{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:rem(30);
        gap:rem(11);
        @include mobile{
            margin:0;
            :not(.btn){
                display:none;
            }
        }
        .btn{
            display:none;
            line-height:1;
            @include mobile{
                display:flex;
                width:calc(100% - rem($mobilePaddingX * 2))
            }
        }
        ol{
            display:flex;
            gap:rem(6);
            a{
                display: block;
                width: rem(36);
                aspect-ratio: 1;
                border-radius: rem(100);
                text-align: center;
                align-content: center;
                font-size:rem(14);
                &:hover{
                    font-weight:700;
                    color:$gray66;
                }
                &.--active{
                    font-weight:700;
                    color:$gray33;
                    background-color:#f3f3f3;
                }
                @supports not (not (align-content: center)) {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
            }
        }
    }


}