$orange: #f69740;
$skyblue: #38c3ef;
$green: #88d948;
$blue: #6892d0;
$grayb4: #b4b4b4;
$graye2: #e2e2e2;
$white: #ffffff;
$gray99: #999999;
$graye0: #e0e0e0;
$gray33: #333333;
$gray66: #666666;
$graycc: #cccccc;
$yellow: #fac300;
$black : #333333;


// $imgUrl : "../images/";
$imgUrl : "../imagesmin/";

//반응형 기준
$mobileSize : 1000px;
$tabletSize : 1200px;
$mobilePaddingX: 30; // 모바일 좌우여백

//폰트
$eng : "Montserrat", sans-serif;